* {
  margin: 0;
  padding: 0;
}
header {
    text-align: center;
    padding-top: 10px;
    background-color: white;
}
.l {
  width: 20%; /* 幅を300ピクセルに固定 */
  height: auto; /* 高さは自動調整（縦横比を保つ） */
}
.p {
  width: 100%; /* 幅を300ピクセルに固定 */
  height: auto; /* 高さは自動調整（縦横比を保つ） */
}
h1{
  font-family: zen-maru-gothic, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 90%;
padding: 20px 20px 20px 20px;
text-align: center;
  font-size: medium;
}
.yoyakubutton{
  text-align: center;  
  margin-top: 20px;
  margin-bottom: 30px;
}
.予約{
  display: inline-block;  
  padding: 12px 24px;  
  background-color: #297442; 
  color: white;  
  text-decoration: none;  
  font-size: 18px;  
  border-radius: 8px;  
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);  
  transition: background-color 0.3s ease;
  text-align: center;
   font-family: zen-maru-gothic, sans-serif;
font-style: normal;
font-weight: 500;
}
.予約:hover {  
  background-color: #0a2c0c; /* ホバー時の色変化 */
}
.section1 {
  background-color: #e4dbcf;
  overflow: hidden;
  margin-top: 0;
  padding: 20px 0px 20px 0px;
}
.t{
  width: 50%;
  justify-content: center;
  align-items: center;
}
img.s {
  display: block;
  margin-bottom: 0; /* 必要ならここで余白を調整 */
  width: 100%;
   background-color: #e4dbcf;
   overflow: hidden;
   padding: 0px 0px 0px 0px;
}
h2{
  text-align: center;
  padding: 30px 20px 15px 20px;
  color: #412c12;
  font-family: zen-maru-gothic, sans-serif;
font-style: normal;
font-weight: 700;
}
h3{
  font-size: large;
  color: #412c12;
  font-family: zen-maru-gothic, sans-serif;
font-style: large;
font-weight: 500;
  padding: 30px 20px 15px 20px;
  text-align: center;
}
.b{
  font-size: small;
 padding: 5px 20px 15px 20px;
  color: #412c12;
  font-family: zen-maru-gothic, sans-serif;
font-style: normal;
font-weight: 300;
  text-align: center;
}
.saigo{
 padding: 20px 20px 20px 20px;
 font-family: zen-maru-gothic, sans-serif;
font-style: normal;
font-weight: 300;
font-size: 10px;
color: white ;
}
footer{
  background-color: #412c12;
  padding: 20px 20px 20px 20px;
  font-size: 10px;
  color: white ;
}
.insta{
  text-align: center;  
  margin-top: 0px;
  margin-bottom: 0px;
}
.instagram{
  display: inline-block;  
  padding: 0px;  
  color: white;  
  text-decoration: none;  
  font-size: 18px;  
  transition: background-color 0.3s ease;
  text-align: center;
   font-family: zen-maru-gothic, sans-serif;
font-style: normal;
font-weight: 500;
}
.insta:hover {  
  background-color: #1a1107; /* ホバー時の色変化 */
}
.instaimg{
  padding-top: 20px;
  width: 40px;
  text-align: center;
}
